.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    border: solid 1px black;
    border-radius: 10px;
    height: 200px;
    background: linear-gradient(90deg, #cff37d 0%, #7de88c 100%);
    & .data {
      display: flex;
      flex-direction: column;
    justify-content: space-around;
    & .name {
        font-size: 20px;
        font-weight: bold;
        text-decoration: underline;
    }
    & .prop {
        width: 70%;
        display: flex;
        justify-content: space-between;
    }
  }
  & .action {
    
  }
}

.dangerous {
    background: linear-gradient(90deg, #ffb199 0%, #ff0844 100%);
}

