.card {
    display: flex;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    height: 200px;
    background: linear-gradient(90deg, #CFF37D 0%, #7DE88C 100%);
}

.dangerous {
    background: linear-gradient(90deg, #FFB199 0%, #FF0844 100%);
}

