.selected {
  font-weight: bold;
}

.option {
  cursor: pointer;
}

.listHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.onlyDangerous {
  cursor: pointer;
}
